
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding: 10px;
}



.dialogsItems {
padding: 10px;
}

.dialog a{
    color: white ;
    text-decoration-line: none;
}

.dialog .active{
    color: gold;
}

.dialog a.activeLink{
    color: gold;
}

.postBlocks{
    padding: 10px;
}

